@model LibraryManagement.Models.Character

@{
    ViewData["Title"] = "Удаление персонажа";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-danger text-white text-center">
                    <h3>Удаление персонажа</h3>
                </div>
                <div class="card-body">
                    <h4 class="text-center">Вы уверены, что хотите удалить этого персонажа?</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">
                            Имя персонажа 
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-4">
                            Описание
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <dt class="col-sm-4">
                            Книга
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Book.Title)
                        </dd>
                    </dl>
                    <form asp-action="Delete" class="text-center">
                        <input type="hidden" asp-for="CharacterId" />
                        <button type="submit" class="btn btn-danger btn-lg">
                            <i class="fas fa-trash"></i> Удалить
                        </button>
                        <a asp-action="Index" class="btn btn-outline-secondary btn-lg ml-2">
                            <i class="fas fa-arrow-left"></i> Назад к списку
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>